header {
  text-align: center;
  background: #fff;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 50px;
  z-index: 9;
}

header > div {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: inline-flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

header .aside {
  float: left;
}

header .right {
  position: absolute;
  right: 0;
}

header a {
  font-weight: normal;
  font-size: 12px;
  padding: 15px;
  display: inline-block;
  border-color: transparent;
}

header .aside a {
  text-transform: uppercase;
  color: #999;
}

header .right a {
  text-decoration: none;
  border: none;
  height: 15px;
  padding: 15px !important;
}

header img {
  opacity: 0.4;
}

header img:hover {
  opacity: 1;
}

header #home {
  font-family: 'Playfair Display SC';
  padding: 0 15px 0 0;
  font-size: 33px;
  color: #000;
}

header a:hover {
  color: #000;
}
